<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.css" rel="stylesheet" />
        <title>Python部落</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron col-xs-12 col-md-12">
                <center> <h1>Python部落论坛</h1></center>
                </div>
            </div>
            <div class="row">
                {%block content%}
                {%endblock%}
            </div>
            <div class="row">
                <blockquote class="blockquote-reverse"> 
                    <p>Learning and sport can make life more beautiful and fulfilling</p>
                    <footer>Love momo's <cite>Kangj</cite></footer>
                </blockquote>
            </div>
         </div>
    </body>
</html>
