<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.css" rel="stylesheet" />
        <title>Python部落</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron col-xs-12 col-md-12">
                <center> <h1>Python部落论坛</h1></center>
            </div>
            </div>
            <div class="row">
                {%for b in blocks%}
                <div class="panel panel-default col-xs-12 col-md-10">
                    <a href="article/list/{{b.id}}" style="font-size:16px">{{b.name}}</a>
                    <span class="pull-right">管理员ID:{{b.manager_name}}</span>
                </div>
                <div class="panel-body col-xs-12 col-md-10">
                    {{b.desc}}
                    <p>b={{b.id}}</p>
                    <p>blocks={{blocks}}</p>
                </div>
                {%if true%}
                <div class="panel panel-default pull-right col-xs-12 col-md-2">
                    登录部分
                </div>
                {%endif%}
                {%endfor%}
            </div>
            <div class="row">
                <blockquote class="blockquote-reverse col-xs-12 col-md-12">
                      <p>Learning and Sport can make life more beautiful and more full.</p>
                      <footer>Love momo's <cite title="Source Title">Kangj</cite></footer>
                </blockquote>
            </div>
         </div>
    </body>
</html>
